h1 {
  text-align: center;
}
h2 {
  text-align: center;
}
body {
  /* background-image: url("C:\Users\abram\OneDrive\Documents\UTSA-BCC\UTSA-Homework\Node_Express_Handlebars\public\images\burger_baby.jpg"); */
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #ffb867;
  text-align: center;
}
li {
    padding: 5px;
    margin: 5px;
    background: #faebd7;
  }
  
  .label {
    font-weight: bold;
  }
  
  .create-update-form {
    padding: 5px;
    margin: 5px;
    background: aqua;
  }
  
  .form-group {
    margin-bottom: 5px;
  }
  input {
    text-align: center;
  }